/* Inter Regular - 400 */
@font-face {
  font-family: 'Inter';
  src: url('~/assets/fonts/Inter/Inter-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

/* Inter Medium - 500 (используем Regular как замену для Medium) */
@font-face {
  font-family: 'Inter';
  src: url('~/assets/fonts/Inter/Inter-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

/* Inter SemiBold - 600 */
@font-face {
  font-family: 'Inter';
  src: url('~/assets/fonts/Inter/Inter-SemiBold.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}


/* Inter Bold - 700 */
@font-face {
  font-family: 'Inter';
  src: url('~/assets/fonts/Inter/Inter-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Inter';
  src: url('~/assets/fonts/Inter/Inter-Black.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}


@font-face {
  font-family: 'Inter';
  src: url('~/assets/fonts/Inter/Inter-Light.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}